#alerts {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	padding: 0 0.5rem 0 0;

	@media (--tablet-landscape-up) {
		padding: 0 0.5rem;
	}
}

.alert {
	background: crimson;
	border-radius: 0.5rem;
	color: var(--white);
	display: inline-block;
	line-height: 1;
	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;

	&.alert--watch {
		background: gold;
		color: var(--black);
	}

	&.alert--statement {
		background: mediumturquoise;
		color: var(--black);
	}

	& + .alert {
		margin-top: 0.25rem;
	}

	span {
		display: block;
	}
}

.alert_title {
	font-size: 1.25rem;
	font-weight: 500;
	margin-right: 0.25rem;
	text-transform: uppercase;

	@media (--tablet-landscape-up) {
		font-size: 1.5rem;
	}
}
