.label {
	background: var(--gray);
	border-radius: 0.5rem;
	color: var(--white);
	display: inline-block;
	padding: 0.125rem 0.25rem;

	@media (--tablet-landscape-up) {
		padding: 0.25rem 0.5rem;
	}
}
