#time {
	display: none;

	@media (--tablet-landscape-up) {
		display: block;
		font-size: 4rem;
		font-weight: 300;
		letter-spacing: -0.1rem;
		line-height: 1;
		margin-left: 2rem;
		width: 10rem;
	}
}
