#weather-data {
	--svg-size: 3rem;

	align-self: stretch;
	position: relative;
	width: calc(var(--svg-size) * 2);

	svg {
		height: var(--svg-size);
		left: 50%;
		margin-top: calc(var(--svg-size) * -.5);
		position: absolute;
		top: 50%;
		width: var(--svg-size);

		&:last-child {
			margin-left: calc(var(--svg-size) * -.25);
		}

		&:first-child:last-child {
			margin-left: calc(var(--svg-size) * -.5);
		}
	}

	@media (--tablet-landscape-up) {
		--svg-size: 4rem;
	}
}
