#week {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0.5rem;
	text-align: center;

	@media (--tablet-landscape-up) {
		margin-top: 1rem;
	}
}

.day {
	flex: 1 1 0;
}

.day_day {
	padding: 0.25rem 0.375rem;
	text-transform: uppercase;
}

.day_day--alert {
	background: crimson;
	color: var(--white);
}

.day_weather {
	--svg-size: 2.25rem;

	height: var(--svg-size);
	line-height: 1;
	margin-top: 0.5rem;
	position: relative;

	svg {
		height: var(--svg-size);
		left: 50%;
		margin-top: calc(var(--svg-size) * -0.5);
		position: absolute;
		top: 50%;
		width: var(--svg-size);

		&:first-child {
			margin-left: calc(var(--svg-size) * -0.5);
		}

		&:last-child {
			margin-left: calc(var(--svg-size) * -0.25);
		}

		&:first-child:last-child {
			margin-left: calc(var(--svg-size) * -0.5);
		}
	}
}

.day_temperature {
	margin-top: 0.5rem;
}
